
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-ms-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes swipe-1 {
    0%,
    33% {
        visibility: visible
    }
    34%,
    100% {
        visibility: hidden
    }
}

@-moz-keyframes swipe-1 {
    0%,
    33% {
        visibility: visible
    }
    34%,
    100% {
        visibility: hidden
    }
}

@-ms-keyframes swipe-1 {
    0%,
    33% {
        visibility: visible
    }
    34%,
    100% {
        visibility: hidden
    }
}

@-o-keyframes swipe-1 {
    0%,
    33% {
        visibility: visible
    }
    34%,
    100% {
        visibility: hidden
    }
}

@keyframes swipe-1 {
    0%,
    33% {
        visibility: visible
    }
    34%,
    100% {
        visibility: hidden
    }
}

@-webkit-keyframes swipe-2 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-moz-keyframes swipe-2 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-ms-keyframes swipe-2 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-o-keyframes swipe-2 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@keyframes swipe-2 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-webkit-keyframes swipe-3 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: hidden
    }
    67%,
    100% {
        visibility: visible
    }
}

@-moz-keyframes swipe-3 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: hidden
    }
    67%,
    100% {
        visibility: visible
    }
}

@-ms-keyframes swipe-3 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: hidden
    }
    67%,
    100% {
        visibility: visible
    }
}

@-o-keyframes swipe-3 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: hidden
    }
    67%,
    100% {
        visibility: visible
    }
}

@keyframes swipe-3 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: hidden
    }
    67%,
    100% {
        visibility: visible
    }
}

/*
@-webkit-keyframes swipe-4 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-moz-keyframes swipe-4 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-ms-keyframes swipe-4 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-o-keyframes swipe-4 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@keyframes swipe-4 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-webkit-keyframes swipe-5 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-moz-keyframes swipe-5 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-ms-keyframes swipe-5 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-o-keyframes swipe-5 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@keyframes swipe-5 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-webkit-keyframes swipe-6 {
    0%,
    87% {
        visibility: hidden
    }
    88%,
    96% {
        visibility: visible
    }
    97%,
    100% {
        visibility: hidden
    }
}

@-moz-keyframes swipe-6 {
    0%,
    87% {
        visibility: hidden
    }
    88%,
    96% {
        visibility: visible
    }
    97%,
    100% {
        visibility: hidden
    }
}

@-ms-keyframes swipe-6 {
    0%,
    87% {
        visibility: hidden
    }
    88%,
    96% {
        visibility: visible
    }
    97%,
    100% {
        visibility: hidden
    }
}

@-o-keyframes swipe-6 {
    0%,
    87% {
        visibility: hidden
    }
    88%,
    96% {
        visibility: visible
    }
    97%,
    100% {
        visibility: hidden
    }
}

@keyframes swipe-6 {
    0%,
    87% {
        visibility: hidden
    }
    88%,
    96% {
        visibility: visible
    }
    97%,
    100% {
        visibility: hidden
    }
}

@-webkit-keyframes swipe-7 {
    0%,
    97% {
        visibility: hidden
    }
    98% {
        visibility: visible
    }
    99%,
    100% {
        visibility: hidden
    }
}

@-moz-keyframes swipe-7 {
    0%,
    97% {
        visibility: hidden
    }
    98% {
        visibility: visible
    }
    99%,
    100% {
        visibility: hidden
    }
}

@-ms-keyframes swipe-7 {
    0%,
    97% {
        visibility: hidden
    }
    98% {
        visibility: visible
    }
    99%,
    100% {
        visibility: hidden
    }
}

@-o-keyframes swipe-7 {
    0%,
    97% {
        visibility: hidden
    }
    98% {
        visibility: visible
    }
    99%,
    100% {
        visibility: hidden
    }
}

@keyframes swipe-7 {
    0%,
    97% {
        visibility: hidden
    }
    98% {
        visibility: visible
    }
    99%,
    100% {
        visibility: hidden
    }
}

@-webkit-keyframes swipe-8 {
    0%,
    98% {
        visibility: hidden
    }
    99%,
    100% {
        visibility: visible
    }
}

@-moz-keyframes swipe-8 {
    0%,
    98% {
        visibility: hidden
    }
    99%,
    100% {
        visibility: visible
    }
}

@-ms-keyframes swipe-8 {
    0%,
    98% {
        visibility: hidden
    }
    99%,
    100% {
        visibility: visible
    }
}

@-o-keyframes swipe-8 {
    0%,
    98% {
        visibility: hidden
    }
    99%,
    100% {
        visibility: visible
    }
}

@keyframes swipe-8 {
    0%,
    98% {
        visibility: hidden
    }
    99%,
    100% {
        visibility: visible
    }
} */

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    overflow-x: hidden !important; 
    -webkit-overflow-scrolling: touch;
}

body {
    top: 0;
    left: 0;
    width: 100vw;
}

header {
    top: 0;
    left: 0;
    width: 100vw;
}

body > footer {
    position: fixed;
    bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

/* .figure {
    position: absolute;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100vw;
    padding-top: 100%
}

picture {
    display: block;
    border: 0;
    -webkit-transition: all 150ms;
    -o-transition: all 150ms;
    transition: all 150ms;
}

.main {
    width: 100vw;
    background-repeat: repeat-y;
    background-size: cover;
    position: relative;
} */

.js-graphic {
    -webkit-transition: all 350ms;
    -o-transition:      all 350ms;
    transition:         all 350ms
}

section {
    float: left;
}

.post__figure {
    cursor: zoom-in;
    position: relative;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.2, 0, 0.2, 1);
    -moz-transition: -moz-transform 250ms cubic-bezier(0.2, 0, 0.2, 1);
    -o-transition: -o-transform 250ms cubic-bezier(0.2, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.2, 0, 0.2, 1)
}

.is-zoomable {
    overflow: hidden
}

.zoomable {
    z-index: 2
}

.zoomable:before {
    background-color: #fff;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100vh;
    left: -100vw;
    padding: 150vh 100vw;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 250ms, opacity 250ms 0s;
    -o-transition: visibility 0s linear 250ms, opacity 250ms 0s;
    transition: visibility 0s linear 250ms, opacity 250ms 0s
}

.zoomable.is-zoomed:before {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0s linear 0s, opacity 250ms 0s;
    -o-transition: visibility 0s linear 0s, opacity 250ms 0s;
    transition: visibility 0s linear 0s, opacity 250ms 0s
}

.cover {
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%
}

.hidden {
    display: none
}

.no-scroll {
    overflow: hidden;
    height: 100%
}

.fade,
.faded {
    transition: opacity 50ms
}

.fade:hover {
    opacity: 0.6
}

.faded {
    opacity: 0.4
}

.faded--60 {
    opacity: 0.6
}

.faded--80 {
    opacity: 0.8
}

a.faded:hover {
    opacity: 1
}

.consumer__car {
    position: absolute;
    width: 15%;
    bottom: 8.6%
}

.home__figure {
    display: block;
    width: 100vw;
}

.one {
    height: 1300px;
    width: 100vw;
    float: left;
}

.two {
    height: 1800px;
    width: 100vw;
    float: left;
}

.three {
    height: 1800px;
    width: 100vw;
    float: left;
}

#zgrada2 {
    width: 625px;
    margin-top: -37.26vw;
    margin-left: 59.2vw;
}

#zgrada2 img {
    position: fix;
    margin-bottom: 0px;
}

.home__figure__clouds {
    position: absolute;
    top: 0;
    z-index: -1
}

.home__category {
    float: left;
    position: relative;
    width: 100vw;
    height: 100%;
}

.kids__swipe {
    position: relative;
    width: 100vw;
    margin-top: 0px;
    /* bottom: 20%; */
    /* right: 26.25% */
}
.kids__swipe .frame {
    position: absolute;
    bottom: 0;
    visibility: hidden
}

.kids__swipe .frame--1 {
    visibility: visible
}

.kids__swipe .frame--1 {
    -webkit-animation: swipe-1 4s infinite;
    -o-animation: swipe-1 4s infinite;
    animation: swipe-1 4s infinite
}

.kids__swipe .frame--2 {
    -webkit-animation: swipe-2 4s infinite;
    -o-animation: swipe-2 4s infinite;
    animation: swipe-2 4s infinite
}

.kids__swipe .frame--3 {
    -webkit-animation: swipe-3 4s infinite;
    -o-animation: swipe-3 4s infinite;
    animation: swipe-3 4s infinite
}

/* .kids__swipe .frame--4 {
    -webkit-animation: swipe-4 4s infinite;
    -o-animation: swipe-4 4s infinite;
    animation: swipe-4 4s infinite
}

.kids__swipe .frame--5 {
    -webkit-animation: swipe-5 4s infinite;
    -o-animation: swipe-5 4s infinite;
    animation: swipe-5 4s infinite
} */

/* 
.kids__swipe .frame--6 {
    -webkit-animation: swipe-6 4s infinite;
    -o-animation: swipe-6 4s infinite;
    animation: swipe-6 4s infinite
}

.kids__swipe .frame--7 {
    -webkit-animation: swipe-7 4s infinite;
    -o-animation: swipe-7 4s infinite;
    animation: swipe-7 4s infinite
}

.kids__swipe .frame--8 {
    -webkit-animation: swipe-8 4s infinite;
    -o-animation: swipe-8 4s infinite;
    animation: swipe-8 4s infinite
} */

.bike {
    position: absolute
}

.bike .frame {
    position: absolute;
    bottom: 0;
    visibility: hidden
}

.bike .frame--1 {
    visibility: visible
}

#anime3 {
    width: 100vw;
}

.anime3-rise {

}