
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-ms-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes swipe-1 {
    0%,
    33% {
        visibility: visible
    }
    34%,
    100% {
        visibility: hidden
    }
}

@-moz-keyframes swipe-1 {
    0%,
    33% {
        visibility: visible
    }
    34%,
    100% {
        visibility: hidden
    }
}

@-ms-keyframes swipe-1 {
    0%,
    33% {
        visibility: visible
    }
    34%,
    100% {
        visibility: hidden
    }
}

@-o-keyframes swipe-1 {
    0%,
    33% {
        visibility: visible
    }
    34%,
    100% {
        visibility: hidden
    }
}

@keyframes swipe-1 {
    0%,
    33% {
        visibility: visible
    }
    34%,
    100% {
        visibility: hidden
    }
}

@-webkit-keyframes swipe-2 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-moz-keyframes swipe-2 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-ms-keyframes swipe-2 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-o-keyframes swipe-2 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@keyframes swipe-2 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: visible
    }
    67%,
    100% {
        visibility: hidden
    }
}

@-webkit-keyframes swipe-3 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: hidden
    }
    67%,
    100% {
        visibility: visible
    }
}

@-moz-keyframes swipe-3 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: hidden
    }
    67%,
    100% {
        visibility: visible
    }
}

@-ms-keyframes swipe-3 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: hidden
    }
    67%,
    100% {
        visibility: visible
    }
}

@-o-keyframes swipe-3 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: hidden
    }
    67%,
    100% {
        visibility: visible
    }
}

@keyframes swipe-3 {
    0%,
    33% {
        visibility: hidden
    }
    34%,
    66% {
        visibility: hidden
    }
    67%,
    100% {
        visibility: visible
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    width: auto !important;
    overflow-x: hidden !important; 
    -webkit-overflow-scrolling: touch;
}

html::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    top: 0;
    left: 0;
    width: 100vw;
}

body > footer {
    position: fixed;
    bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.js-graphic {
    -webkit-transition: all 350ms;
    -o-transition:      all 350ms;
    transition:         all 350ms
}

section {
    float: left;
}

.main {
    width: 100vw;
}

.post__figure {
    cursor: zoom-in;
    position: relative;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.2, 0, 0.2, 1);
    -moz-transition: -moz-transform 250ms cubic-bezier(0.2, 0, 0.2, 1);
    -o-transition: -o-transform 250ms cubic-bezier(0.2, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.2, 0, 0.2, 1)
}

.is-zoomable {
    overflow: hidden
}

.zoomable {
    z-index: 2
}

.zoomable:before {
    background-color: #fff;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100vh;
    left: -100vw;
    padding: 150vh 100vw;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 250ms, opacity 250ms 0s;
    -o-transition: visibility 0s linear 250ms, opacity 250ms 0s;
    transition: visibility 0s linear 250ms, opacity 250ms 0s
}

.zoomable.is-zoomed:before {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0s linear 0s, opacity 250ms 0s;
    -o-transition: visibility 0s linear 0s, opacity 250ms 0s;
    transition: visibility 0s linear 0s, opacity 250ms 0s
}

.cover {
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%
}

.hidden {
    display: none
}

.no-scroll {
    overflow: hidden;
    height: 100%
}

.fade,
.faded {
    transition: opacity 50ms
}

.fade:hover {
    opacity: 0.6
}

.faded {
    opacity: 0.4
}

.faded--60 {
    opacity: 0.6
}

.faded--80 {
    opacity: 0.8
}

a.faded:hover {
    opacity: 1
}

.consumer__car {
    position: absolute;
    width: 15%;
    bottom: 8.6%
}

.home__figure {
    display: block;
    width: 100vw;
}

.first {
    height: 1300px;
    width: 100vw;
    float: left;
}

.space {
    width: 100vw;
    height: 10vw;
}

.home__figure__clouds {
    position: absolute;
    top: 0;
    z-index: -1
}

.home__category {
    float: left;
    position: relative;
    width: 100vw;
    height: 100%;
}

.kids__swipe {
    position: relative;
    width: 100vw;
    margin-top: 0px;
    /* bottom: 20%; */
    /* right: 26.25% */
}
.kids__swipe .frame {
    position: absolute;
    bottom: 0;
    visibility: hidden
}

.kids__swipe .frame--1 {
    visibility: visible
}

.kids__swipe .frame--1 {
    -webkit-animation: swipe-1 4s infinite;
    -o-animation: swipe-1 4s infinite;
    animation: swipe-1 4s infinite
}

.kids__swipe .frame--2 {
    -webkit-animation: swipe-2 4s infinite;
    -o-animation: swipe-2 4s infinite;
    animation: swipe-2 4s infinite
}

.kids__swipe .frame--3 {
    -webkit-animation: swipe-3 4s infinite;
    -o-animation: swipe-3 4s infinite;
    animation: swipe-3 4s infinite
}

.bike {
    position: absolute;
    left: 0vw; 
    top: 47.8vw; 
    width: 251px;
}

.bike .frame {
    position: absolute;
    bottom: 0;
    visibility: hidden
}

.bike .frame--1 {
    visibility: visible
}

.bike.is-scrolling.is-shifting .frame--1 {
    -webkit-animation: pedal-1 1s infinite;
    -o-animation: pedal-1 1s infinite;
    animation: pedal-1 1s infinite
}

.bike.is-scrolling.is-shifting .frame--2 {
    -webkit-animation: pedal-2 1s infinite;
    -o-animation: pedal-2 1s infinite;
    animation: pedal-2 1s infinite
}

.bike.is-scrolling.is-shifting .frame--3 {
    -webkit-animation: pedal-3 1s infinite;
    -o-animation: pedal-3 1s infinite;
    animation: pedal-3 1s infinite
}

.bike.is-scrolling.is-shifting .frame--4 {
    -webkit-animation: pedal-4 1s infinite;
    -o-animation: pedal-4 1s infinite;
    animation: pedal-4 1s infinite
}

.aboutus,
.howwework,
.whatweworkon,
.howwedecide,
.team,
.menu-lk {
    margin-top: 2.1vw;
    height: 3vh;
    position: absolute;
}

.aboutus {
    width: 5.3vw;
    margin-left: 41.7vw;
}

.howwework {
    width: 7.9vw;
    margin-left: 48.4vw;
}

.whatweworkon {
    width: 10.2vw;
    margin-left: 57.7vw;
}

.howwedecide {
    width: 8.5vw;
    margin-left: 69.2vw;
}

.team {
    width: 3vw;
    margin-left: 88vw;
}

.menu-lk {
    width: 14vw; 
    margin-left: 80vw;
    margin-top: 11.8vw;
    z-index: 1;
}

.menu {
    visibility: hidden;
}

.thebank {
    margin-top: 3.4vw;
    margin-left: 4.2vw;
    position: absolute;
    width: 9.7vw;
    height: 3.9vh;
}

#anime {
    /* position: relative; */
    line-height: 0;
}

#anime2 {
    position: absolute;
    width: 100vw;
    margin-top: 64.9vw;
    margin-left: -0.184vw;
    border: 0;
}

#anime3 {
    position: absolute;
    width: 100vw;
    margin-top: 135.49vw;
    border: 0;
}

#anime4 {
    position: absolute;
    width: 100vw;
    margin-top: 202.99vw;
    border: 0;
}

#anime5 {
    position: absolute;
    width: 100vw;
    margin-top: 270.6vw;
    border: 0;
}

#anime6 {
    position: absolute;
    width: 100vw;
    margin-top: 338.3vw;
    border: 0;
}

#anime7 {
    position: absolute;
    width: 100vw;
    margin-top: 407vw;
    margin-left: -0.13vw;
    border: 0;
}

.vrteleska,
.paricka,
.banknota,
.raka,
.kola {
    position: absolute;
}

.vrteleska {
    left: 62.96vw; 
    top: 19.2vw;
    /* width: 67px; */
    width: 3.35vw;
}

.paricka {
    width: 7.46vw;
    top: 27.3vw;
}

.banknota {
    width: 9.8vw;
    left: 18vw; 
}

.raka {
    left: -0.95vw; 
    width: 14vw;
}

.kola {
    width: 7.5vw;
    left: 0.5vw; 
    top: 47.9vw;
}

.menu {
    position: absolute;
    left: 0vw;
    z-index: 1;
}

@media only screen and (min-width: 1079px) and (max-width: 1365px) {
   
    .menu-lk {
        width: 12vw; 
        margin-left: 82vw;
        margin-top: 8.3vw;
    }

    .vrteleska {
        left: 70.35vw; 
        top: 52.5vw;
        width: 45px;
    }

    .paricka {
        top: 64.8vw;
    }
    
    .banknota {
        left: 14vw; 
    }

    .raka {
        top: 37.04vw;
        left: -3.5vw; 
    }

    .kola {
        left: 0vw;
        top: 91.4vw;
    }

    #anime2 {
        margin-top: 61.8vw;
        margin-left: -0.1vw;
        border: 0;
    }

    #anime3 {
        margin-top: 176.4vw;
        border: 0;
    }
 
    #anime4 {
        margin-top: 278.4vw;
        left: 0;
        border: 0;
    }

    #anime5 {
        margin-top: 392.56vw;
        border: 0;
    }

    #anime6 {
        margin-top: 516.8vw;
        border: 0;
    }
    
    #anime7 {
        margin-top: 670vw;
        margin-left: -0.13vw;
        border: 0;
    }       
}

@media only screen and (min-width: 720px) and (max-width: 1079px) {
   
    .menu-lk {
        width: 12vw; 
        margin-left: 82vw;
        margin-top: 8.3vw;
    }
   
    .vrteleska {
        left: 70.35vw; 
        top: 52.5vw;
        width: 29px;
    }

    .paricka {
        top: 64.8vw;
    }
    
    .banknota {
        left: 14vw; 
    }

    .raka {
        top: 37.04vw;
        left: -3.5vw; 
    }

    .kola {
        left: 0vw;
        top: 91.4vw;
    }

    #anime2 {
        margin-top: 26.4vw;
        margin-left: -0.6vw;
        border: 0;
    }

    #anime3 {
        margin-top: 176.2vw;
        border: 0;
    }
 
    #anime4 {
        margin-top: 278.56vw;
        left: 2.8vw;
        border: 0;
    }

    #anime5 {
        margin-top: 392.56vw;
        border: 0;
    }

    #anime6 {
        margin-top: 515.5vw;
        border: 0;
    }
    
    #anime7 {
        margin-top: 668vw;
        margin-left: -0.13vw;
        border: 0;
    }       
}

@media only screen and (min-width: 414px) and (max-width: 420px) {
   
    .menu-lk {
        width: 12vw; 
        margin-left: 82vw;
        margin-top: 9.2vw;
    }
   
    .vrteleska {
        left: 70.45vw; 
        top: 52.6vw;
        width: 16px;
    }

    .paricka {
        top: 64.85vw;
    }
    
    .banknota {
        left: 14vw; 
    }

    .raka {
        top: 37.04vw;
        left: -3.5vw; 
    }

    .kola {
        left: 0vw;
        top: 91.2vw;
    }

    #anime2 {
        margin-top: 26.7vw;
        margin-left: -0.4vw;
        border: 0;
    }

    #anime3 {
        margin-top: 176.4vw;
        border: 0;
    }
 
    #anime4 {
        margin-top: 278.63vw;
        left: 4.5vw;
        border: 0;
    }

    #anime5 {
        margin-top: 392.6vw;
        border: 0;
    }

    #anime6 {
        margin-top: 516.7vw;
        border: 0;
    }
    
    #anime7 {
        margin-top: 671vw;
        margin-left: -0.13vw;
        border: 0;
    }       

}

@media only screen and (min-width: 375px) and (max-width: 413px) {
   
    .menu-lk {
        width: 14vw; 
        margin-left: 80vw;
        margin-top: 11.8vw;
    }
   
    .vrteleska {
        left: 70.65vw; 
        top: 48.37vw;
        width: 14px;
    }

    .paricka {
        top: 60.45vw;
    }
    
    .banknota {
        left: 14vw; 
    }

    .raka {
        top: 37.04vw;
        left: -3.5vw; 
    }

    .kola {
        left: 0vw;
        top: 87vw;
    }

    #anime2 {
        margin-top: 25.8vw;
        margin-left: -0.35vw;
        border: 0;
    }

    #anime3 {
        margin-top: 180.1vw;
        border: 0;
    }
 
    #anime4 {
        margin-top: 282.67vw;
        left: 3.7vw;
        border: 0;
    }

    #anime5 {
        margin-top: 389.8vw;
        border: 0;
    }

    #anime6 {
        margin-top: 504vw;
        border: 0;
    }
    
    #anime7 {
        margin-top: 671vw;
        margin-left: -0.13vw;
        border: 0;
    }       

}

@media only screen and (min-width: 360px) and (max-width: 370px) {
   
    .menu-lk {
        width: 13vw; 
        margin-left: 82vw;
        margin-top: 9.2vw;
    }
   
    .vrteleska {
        left: 70.5vw; 
        top: 48.6vw;
        width: 14px;
    }

    .paricka {
        top: 60.8vw;
    }
    
    .banknota {
        left: 14vw; 
    }

    .raka {
        top: 37.04vw;
        left: -3.5vw; 
    }

    .kola {
        left: 0vw;
        top: 87.2vw;
    }

    #anime2 {
        margin-top: 26.4vw;
        margin-left: -0.7vw;
        border: 0;
    }

    #anime3 {
        margin-top: 180vw;
        border: 0;
    }
 
    #anime4 {
        margin-top: 282.66vw;
        left: 3vw;
        border: 0;
    }

    #anime5 {
        margin-top: 389.6vw;
        border: 0;
    }

    #anime6 {
        margin-top: 512.7vw;
        border: 0;
    }
    
    #anime7 {
        margin-top: 667vw;
        margin-left: -0.13vw;
        border: 0;
    }       

}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
   
    .vrteleska {
        left: 63.1vw; 
        top: 19.3vw;
        /* width: 41px; */
    }

    .banknota {
        left: 14vw; 
        top: 0vw;
    }

    .raka {
        left: 4.33vw; 
    }
    
    .bike {
        margin-left: -5.2vw; 
        top: 47.8vw; 
        width: 180px;
    }

    #anime2 {
        margin-left: -0.2vw;
    }
      
}

@media only screen and (min-width: 1366px) and (max-width: 1400px) {
    
    #anime2 {
        margin-left: -0.185vw;
    }

    .vrteleska {
        left: 63.1vw; 
        top: 19.3vw;
        width: 44px;
    }

    .banknota {
        left: 14vw; 
        top: 0vw;
    }

    .raka {
        left: 4.33vw; 
    }

    .bike {
        margin-left: -5.2vw; 
        top: 47.8vw; 
        width: 180px;
    }
      
}

@media only screen and (min-width: 1400px) and (max-width: 1900px) {
    
    .vrteleska {
        left: 63.1vw; 
        top: 19.3vw;
        width: 44px;
    }

    .banknota {
        left: 14vw; 
        top: 0vw;
    }

    .raka {
        left: 4.33vw; 
    }

    .bike {
        margin-left: -5.2vw; 
        top: 47.8vw; 
        width: 180px;
    }
      
}